.mb-4 p {
    -webkit-text-stroke: 1px black;
    font-size: 25px;
}

.p-3 {
    -webkit-text-stroke: 1px black;
    font-size: 23px;
    letter-spacing: 1px;
}

.git {
    -webkit-text-stroke: 1px black;
    text-decoration: underline;
}